/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
item {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
item {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}

/* =============================== */

.container {
  width: 95%;
}

h2 {
  margin: 1rem 2.5rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.frzTable {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 1px solid lightgray;
  margin: 1rem 2rem;
}

.column {
  width: 100%;
}
.column:not(:last-child) {
  border-right: 1px solid lightgray;
}
.column .header{
  position: sticky;
  z-index: 2;
}

.item, .title, .header {
  position: relative;
  width: 100%;
  height: 50px;
  color: rgb(151, 153, 156);
}
.header:not(.direction), .item, .title{
  line-height: 50px;
}

.item:not(:last-child), .title:not(:last-child), .header:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.title, .header {
  background-color:  #eaeef4;
  font-weight: 600;

}

.direction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.oneWay {
  text-align: right;
  padding: 0.3rem;
}

.return {
  text-align: left;
  padding: 0.3rem;
}

.item {
  position: relative;
  font-size: 14px;
  cursor: pointer;
}

.title.next::after, .header.next::after {
  content: "2018";
  position: absolute;
  font-size: 14px;
  color: rgb(108, 108, 250);
  top: -16px;
  right: 20 px;
}

.choose {
  background-color:  #fefae4
}

.lowestPrice::before {
  position: absolute;
  content: " ";
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  border: 10px solid transparent;
  border-left-color: orange;
  border-top-color: orange;
}

.lowestPrice::after {
  position: absolute;
  content: "最便宜";
  font-size: 8%;
  top: -15px;
  left: 20px;
  color: orange ;
}

.side {
  background-color: #fafafc
}

.amount {
  color: rgb(107, 95, 95); 
  font-weight: 600;
}